.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    color: red;
  }
}
